			<section class="container">
                                        <header class="major">
                                                <h2>About me</h2>
                                                <span class="byline">I strive to utilize data driven methodologies to inspire better decision making.</span>
                                                <p> Strive to add pics of same sizes! </p>
                                        </header>
                                        <div class="row no-collapse-1">
                                                <section class="4u">
                                                        <a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic02.jpg" height="300px;" alt=""></a>
                                                        <p> A Personal History. My journey so far, some people I have met along the way and things I will hopefully get to do soon.</p>
                                                </section>
                                                <section class="4u">
                                                        <a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" height="300px;" alt=""></a>
                                                        <p>Professional Experience. My education, work experience and publications.</p>
                                                </section>
                                                <section class="4u">
                                                        <a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" height="300px;" alt=""></a>
                                                        <p>Technical Projects. A collection of personal projects that I have worked on.</p>
                                                </section>

                                        </div>
                                </section>

