<div id="footer">
	<div class="container">
        	<div class="row">
                	<div class="6u">
                         	<section>
                                	<header class="major">
                                        	<h2>Contact details</h2>
                                                <span class="byline">Some suitable text to contact me</span>
                                        </header>
                                        <ul class="contact">
                                        	<li>
                                                	<span class="address">Address</span>
                                                        <span>48 E John Street, Apt# 309 <br />Champaign, IL 61820</span>
                                                </li>
                                                <li>
                                                       	<span class="mail">Mail</span>
                                                       	<span><a href="#">shriyak2@illinois.edu</a></span>
                                                </li>
                                                <li>
                                                        <span class="phone">Phone</span>
                                                        <span>(217) 305-1480</span>
                                                </li>
                                    	</ul>
                              	</section>
                       	</div>
                        <div class="4u">
                        	<section>
					<header class="major">
						<h2>More stuff</h2>
                                		<span>If you want to keep social media link here, edit in config file</span>
						<p> This footer can be edited at _include/footer.html </p>
                                        	<ul class="list-inline banner-social-buttons">
                                                	{% for social in site.social %}
                                                        	<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
                                                	{% endfor %}
                                        	</ul>
					</header>
                              	</section>
                        </div>
              	</div>
                <div class="copyright">
			<p>Copyright &copy; Shriyak's Website 2016</p>
                </div>
	</div>
</div>
