---
layout: main
title : About me
---
<head>
	{% include head.html %}
</head>
<body>
	<div class="wrapper style2">
                                {% include about.html %}
        <p> You need a better organisation of this section so that it'll make sense to be linked from the nav bar else remove the dropdown from nav bar and about me links here </p>
	<p> Also this is redundant from landing page right now </p>
	</div> 
	<div id="main" class="wrapper style1">
		<section class="container">
			<header class="major">
				<h2>You need to do a lot with this</h2>
				<span class="byline">Or maybe not. Decide if you want it at all</span>
			</header>
			<div class="row">

				<!-- Content -->
				
					<div class="6u">
						<section>
							<ul class="style">
								<li>
									<span class="fa fa-futbol-o"></span>
									<h3>Sports</h3>
									<span>Something sport something something</span>
								</li>
								<li>
									<span class="fa fa-bus"></span>
									<h3>Hiking</h3>
									<span> Lalala </span>
								</li>
							</ul>
						</section>
					</div>
					<div class="6u">
						<section>
							<ul class="style">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Analytics</h3>
									<span> alala </span>
								</li>
								<li>
									<span class="fa fa-user-circle-o"></span>
									<h3>People</h3>
									<span>Something memory</span>
								</li>
							</ul>
						</section>
					</div>
				
			</div>
		</section>
	</div>
</body>
