---
layout: default
---

	<!-- header -->
			<div id="header">
				<div class="container">
					<!-- Logo -->
					{% include nav.html %}
					<!-- Banner -->
						<div id="banner">
							<header class="minor" style="background-color: rgba(229, 229, 229,0.3)">
								<h2 style="text-shadow:2px 2px #000000;">Shriyak Sridhar</h2>
									<span class="byline" style="text-shadow:2px 2px #000000;">Welcome to my personal website! </span><br>
									<br><br>
									<span style="text-shadow:2px 2px #000000;">I am currently a graduate student at the University of Illinois at Urbana-Champaign pursuing a Masters in Statistics: Analytics concentration. Use this site to get to know more about me or find some useful resources&hellip;</span>
								</header>
						</div>
				</div>
			</div>
			<div class="wrapper style2">
				{% include about.html %}
			</div>

	{{ content }}
