---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Smart Title!</h2>
										<span class="byline">&hellip; say something broad and relevant here as it will be the first thing that someone reads when they come here!</span>
									</header>
									<a href="#" class="button alt">Replace with search bar!</a>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Category heading</h2>
						<span class="byline">Change the images, where they lead and see if they can have headings and decide how to differentiate them from the links on top</span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic02.jpg" alt=""></a>
							<p> A personal history. Leads to the page where you'll have your timeline, more things about you and other stuff you are yet to figure out.</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt=""></a>
							<p>Professional Experience - CV, Education, Publications, Courses etc .</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt=""></a>
							<p>Projects and other tech stuff like Tableau, StatCom etc.</p>
						</section>

					</div>
				</section>
			</div>

	{{ content }}